body {
    background: #0b0b0b;
    color: white;
}

.my-div {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}


.three-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  text-align: center;
}

.icon {
  text-align: center;
  height: 100px;
}

@media (max-width: 600px) {
  .icon {
      height: 60px;
      
  }

}

.tech-category{
  margin-left: 2%;
}

.navbar{
  backdrop-filter: blur(20px);
  --bs-bg-opacity: .5;
  top: 0;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 250px;
  object-fit: cover;
}