body {
    background: #090909;
    padding-top:20px;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.my-div {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-item {
  text-align: center;
}
